/*
 * HEADER
 */

#header
  width: 100%
  // @include container(70em)
  height: 170px
  position: relative
  // background: url('../../images/header_tree.png') no-repeat bottom left
  // background-size: 120px
  background: #0e1710

  .header-bg
    height: 170px
    position: absolute
    left: -110px

  .container
    @include container(70em)
    height: 170px
    position: relative
    // @include span(12)

    h1.site-title
      @include ubuntu(3)
      display: inline-block
      position: relative
      top: 55px
      left: 200px

      a
        color: white
        &:hover
          color: $red

nav.colophon
  @include gutters
  position: absolute
  bottom: 45px
  right: 0px

  a
    @include ubuntu-l(0.8)
    margin-left: 2rem

    &:hover
      color: $orange

nav.categories
  @include gutters
  position: absolute
  bottom: 0.5rem
  right: 0px

  a
    @include ubuntu(0.9)
    line-height: 0.9rem
    margin-left: 2rem
    padding-bottom: 0.5rem

    &:hover
      color: $yellow

.header-border
  width: 100%
  height: 0px
  border-bottom: 3px solid $purple
