
.entry-bg
  width: 100%
  height: 100%
  position: absolute
  background: transparentize($dgray, 0.2)
  z-index: 9

.entry-title
  color: white

  &-small
    @include crimson(1.8, 600)

    a
      color: $red
      &:hover
        color: $purple

  &-large
    @include crimson(3, 600)
    line-height: 3rem
    font-style: italic
    margin-bottom: 0.6rem

    a
      color: white
      &:hover
        color: $red

.entry-author

  &-small
    display: inline-block
    @include ubuntu(0.9)
    @include px-rem(margin-bottom, 1)
    @include px-rem(margin-right, 2)
    color: $blue

  &-large
    display: inline-block
    @include ubuntu(1.2)
    @include px-rem(margin-right, 2)
    color: $orange

.entry-time
  display: inline-block
  @include px-rem(margin-right, 2)

  &-small
    @include ubuntu(0.9)
    @include px-rem(margin-bottom, 1)
    color: $blue

  &-large
    @include ubuntu(1.2)
    color: $orange

.entry-cats,
.entry-tags
  display: inline-block

  &-small
    @include ubuntu(0.9)
    @include px-rem(margin-bottom, 1)
    a
      color: $red
      @include px-rem(margin-right, 1)
      &:last-of-type
        margin-right: 0
      &:hover
        color: $purple

  &-large
    @include ubuntu(1.2)
    @include px-rem(margin-right, 2)
    a
      color: $yellow
      @include px-rem(margin-right, 1)
      &:last-of-type
        margin-right: 0
      &:hover
        color: $orange
