
.work-full
  @include span(12 of 12)

.airship-full, 
.page-full
  @include span(9 of 12)

.entry-header,
.page-header
  height: 300px
  position: relative
  @include px-rem(margin-bottom, 4)
  background-size: cover
  background-position: 50% 50%

.work-full .meta
  @include span(8 of 12)
  @include push(2)
  position: relative
  @include px-rem(padding-top, 6)
  z-index: 11

.airship-full .meta,
.page-full .page-header .meta
  position: relative
  @include px-rem(padding, 6, 4, 0, 4)
  z-index: 11

.work-full .entry-content
  @include span(8 of 12)
  @include push(2)

.airship-full .entry-content, 
.page-full .entry-content
  @include span(9 of 9)
  @include push(0)

.work-full,
.airship-full, 
.page-full
  aside
    @include span(6 of 8)
    @include push(1 of 8)
    @include px-rem(margin-top, 2)
    @include ubuntu(0.9)
    text-align: center
    color: $blue
