html, body
  font-size: 100%

@mixin ubuntu($size: 1, $weight: 500)
  font-family: 'Ubuntu', sans-serif
  font-weight: $weight
  @include font-size($size)

@mixin vollkorn($size: 1.4, $weight: 400)
  font-family: 'Vollkorn', serif
  font-weight: $weight
  @include font-size($size)

@mixin roboto($size: 1, $weight: 400)
  font-family: 'Roboto Slab', serif
  font-weight: $weight
  @include font-size($size)

p,ol,ul,span,blockquote
  color: $dgray
  @include vollkorn(1, 400)
  @include margin-bottom(1.2)

em, i
  font-style: italic

strong, b
  font-weight: 700

h1,h2,h3,h4,h5,h6
  color: $dgray
  @include vollkorn(2, 400)

a 
  color: $red
  text-decoration: none
  @include transition(color 0.5s ease-in-out)
  &:hover
    color: $purple
