// $blue    : $neon-blue

$path : '../../../../images/chapbooks/please-please/'

@import "../../../vendor/reset"
@import "../../../vendor/bourbon/bourbon"
@import "susy"
@import "../../mixins"
@import "../../typography"

$susy: ( columns: 12, gutters: 10, gutter-position: inside )

@import url('https://fonts.googleapis.com/css?family=Vesper+Libre')
@import url('https://fonts.googleapis.com/css?family=Cardo:400:400i')
@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400i')
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans')

#gradient
  position: fixed
  width: 100vw
  height: 100vh
  padding: 0px
  margin: 0px
  background-color: #fff
  z-index: 0

.pp-container
  +container(80em)
  position: relative
  padding-top: 12rem
  padding-bottom: 8rem
  text-align: left
  z-index: 1

.pp-title
  +span(12 of 12)
  height: 100vh
  margin-bottom: 2rem
  h1
    +fontmake($family: 'Cardo', $size: 4)
    text-align: left
    @media (min-width: 0em) and (max-width: 40em)
      +fontmake($family: 'Cardo', $size: 3)
  h2
    +fontmake($family: 'Josefin Sans', $size: 2)
    @media (min-width: 0em) and (max-width: 40em)
      +fontmake($family: 'Josefin Sans', $size: 1.7)

.pp-poem
  +span(12 of 12)
  color: black
  text-align: justify
  margin-bottom: 12rem
  @media (min-width: 0em) and (max-width: 66em)
    width: span(12)

.pp-poem h1
  +fontmake($family: 'Noto Serif', $size: 3, $weight: 400, $margin: 6)
  color: transparentize($dgray, 0.1)
  font-style: italic
  // animation: neon 6s ease-in-out infinite alternate
  -webkit-transform: translate3d(0,0,0)
  @media (min-width: 47em) and (max-width: 54em)
    +fontmake($family: 'Noto Serif', $size: 2.2)
  @media (min-width: 0em) and (max-width: 47em)
    +fontmake($family: 'Noto Serif', $size: 1.8)


.pp-poem p
  +fontmake($family: 'Cardo', $size: 1.4)
  @media (min-width: 80em)
    +fontmake($family: 'Cardo', $size: 1.6)
  @media (min-width: 47em) and (max-width: 54em)
    +fontmake($family: 'Cardo', $size: 1.2)
  @media (min-width: 0em) and (max-width: 47em)
    +fontmake($family: 'Cardo', $size: 1)

@for $i from 1 through 8
  .pp-indent-#{$i}
    text-indent: $i * 3rem
    @media (min-width: 47em) and (max-width: 54em)
      text-indent: $i * 2.25rem
    @media (min-width: 0em) and (max-width: 47em)
      text-indent: $i * 1.5rem

.pp-acknowledgments
  +span(12 of 12)

  h1
    +fontmake($family: 'Josefin Sans', $size: 2.4)
    @media (min-width: 0em) and (max-width: 40em)
      +fontmake($family: 'Josefin Sans', $size: 2)

  p
    +fontmake($family: 'Cardo', $size: 1.4)
    @media (min-width: 80em)
      +fontmake($family: 'Cardo', $size: 1.6)
    @media (min-width: 47em) and (max-width: 54em)
      +fontmake($family: 'Cardo', $size: 1.2)
    @media (min-width: 0em) and (max-width: 47em)
      +fontmake($family: 'Cardo', $size: 1)

.pp-back
  margin-top: 8rem

$colors: #360745, #D61C59, #E7D84B, #EB6841, #1B8798
$max: 5
$stroke-step: 3%

svg
  width: 100%

#svg--title
  margin

#svg--poem
  width: 100%
  margin-bottom: -3rem

.three--line svg
  margin-bottom: 4rem

.title--line,
.title--line2
  font-family: 'Cardo'
  font-size: 6rem

.text--line,
.text--line2,
.text--line3
  font-family: 'Cardo'
  font-size: 4rem

.text-copy
  fill: none
  stroke: white
  stroke-dasharray: $stroke-step $stroke-step * ($max - 1)
  stroke-width: 1px

  // animation: stroke-offset 0s ease-in-out
  animation: stroke-offset 5s ease-in-out
  animation-iteration-count: 1

  @for $item from 1 through $max
    $stroke-color: nth($colors, $item)

    &:nth-child(#{$item})
      stroke: $stroke-color
      stroke-dashoffset: $stroke-step * $item

.paused .text-copy
  animation-play-state: paused

.animated .text-copy
  animation-play-state: running
  // animation: stroke-offset 9s ease-in-out


@keyframes stroke-offset
  0%
    stroke-dashoffset: $stroke-step * $max
    stroke-dasharray: 0 $stroke-step * $max*2.5
