$yellow  : #ECD078
$orange  : #D95B43
$red     : #C02942
$purple  : #542437
$blue    : #53777A
$lgray   : #999
$dgray   : #303030
$black   : rgba(4,0,1,1)
$blackt  : rgba(4,0,1,0)

$path : '../../../../images/chapbooks/please-please/'

@import "../../../vendor/reset"
@import "../../../vendor/bourbon/bourbon"
@import "susy"
@import "../../mixins"
@import "../../typography"

$susy: ( columns: 12, gutters: .5, gutter-position: inside )

@import url('https://fonts.googleapis.com/css?family=Vesper+Libre')

@mixin vesper($size: 1, $weight: 400)
  font-family: 'Versper Libre', serif
  font-weight: $weight
  @include font-size($size)
  color: $purple

.pp-title
  +span(8 of 12)

.pp-poem
  +span(8 of 12)
  +vesper
  color: black
  text-align: justify

.pp-poem h1
  +vesper($size: 2)
  // text-transform: uppercase
  font-style: italic
  font-variant: small-caps

.pp-indent-1
  margin-left: 3rem

.pp-indent-2
  margin-left: 6rem

.pp-indent-3
  margin-left: 9rem

.pp-acknowledgments
  +span(12 of 12)
