$path : '../../../../images/chapbooks/please-please/'

@import "../../../vendor/reset"
@import "../../../vendor/bourbon/bourbon"
@import "susy"
@import "../../mixins"
@import "../../typography"

$susy: ( columns: 12, gutters: 10, gutter-position: inside )

@import url('https://fonts.googleapis.com/css?family=Inknut+Antiqua:700')

.pp-container
  +container(80em)
  position: relative
  padding-top: 12rem
  padding-bottom: 8rem
  text-align: left
  z-index: 1
