$path : '../../../../images/chapbooks/everything-makes-a-noise/'

@import "../../../vendor/reset"
@import "../../../vendor/bourbon/bourbon"
@import "susy"
@import "../../mixins"
@import "../../typography"

$susy: ( columns: 12, gutters: 10, gutter-position: inside )

@import url('https://fonts.googleapis.com/css?family=Inknut+Antiqua:700')
@import url('https://fonts.googleapis.com/css?family=Barrio|Josefin+Sans:300,400')

body.page-everything-makes-a-noise-when-it-reveals-itself
  background: rgb(22,22,22)

canvas
  position: fixed
  top     : 0px
  left    : 0px
  z-index : 100

.everything__container
  +container(80em)
  position: relative
  text-align: left
  // overflow: hidden

.everything__container article
  margin-bottom: 10rem
  +span(12)

  h1
    color: white
    +fontmake($family: 'Barrio', $weight: 700, $size: 4)
    margin: 20rem 0
    @media (min-width: 0em) and (max-width: 40em)
      +fontmake($family: 'Barrio', $weight: 700, $size: 2)

  p
    color: white
    +fontmake($family: 'Josefin Sans', $weight: 400, $size: 1.4)
    @media (min-width: 0em) and (max-width: 40em)
      +fontmake($family: 'Josefin Sans', $weight: 400, $size: 0.8)

.everything__container::before
  animation: grain 5s steps(10) infinite
  background: url($path + 'noisy-texture-300x300-o15-d10-c-161616-t1.png')
  background-size: auto
  background-repeat: repeat
  content: ""
  display: block
  height: 500%
  left: -250%
  position: fixed
  top: -250%
  width: 500%
  z-index: 99
  opacity: 1

@keyframes grain
  0%, 100%
    +transform(translate(0, 0))
  10%
    +transform(translate(-5%, -10%))
  20%
    +transform(translate(-15%, 5%))
  30%
    +transform(translate(7%, -25%))
  40%
    +transform(translate(-5%, 25%))
  50%
    +transform(translate(-15%, 10%))
  60%
    +transform(translate(15%, 0%))
  70%
    +transform(translate(0%, 15%))
  80%
    +transform(translate(3%, 35%))
  90%
    +transform(translate(-10%, 10%))
